<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PlaySuite" parallel="true" >
    <!--
    1、suite名称、test名称可以随便写
    2、class name需写全路径
    3、methods 写方法名称即可,代码中填写@test，但是这里不添加的话，仍然不会执行
    4、执行需要run testNG.xml
    -->
    <parameter
        name="appActivity"
        value=".business.MainActivity_" >
    </parameter>

    <test name="Case_login" preserver-order="true" >

        <classes>
            <class name="top.cases.Case_login" >
                <methods>
                </methods>
            </class>
        </classes>
        
        <!-- 监听器配置 -->
        <listeners>
            <!-- 监听用例的执行动作 -->
            <listener class-name="top.base.listener.TestNGListener" />
            <!-- 生成reporterNg 测试报告，需要添加的监听 -->
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <!-- 这个暂时不需要 -->
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    </test>

</suite>