<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite
    name="DefaultSuite"
    parallel="true" >

    <!--
    1、suite名称、test名称可以随便写
    2、class name需写全路径
    3、methods 写方法名称即可,代码中填写@test，但是这里不添加的话，仍然不会执行
    4、执行需要run testNG.xml
    -->
    <parameter
        name="deviceName"
        value="85GBBMA2353T" >
    </parameter>

    <parameter
        name="appPackage"
        value="com.lifang.agent" >
    </parameter>

    <parameter
        name="appActivity"
        value=".business.MainActivity_" >
    </parameter>

    <test
        name="Case_login"
        preserver-order="true" >

        <classes>

            <class name="cases.Case_login" >

                <methods>

                    <include name="testLogin_01" >
                    </include>

                    <include name="testLogin_02" >
                    </include>

                    <include name="testLogin_03" >
                    </include>
                </methods>
            </class>
        </classes>

        <!-- 添加如下配置 -->

        <listeners>

            <listener class-name="baseUtils.TestNGListener" />
            <!--
     			<listener class-name="org.uncommons.reportng.HTMLReporter" />
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
            -->
        </listeners>
    </test>

</suite>