<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	<!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->
	    <property name="locations">   
	        <array>  
	            <value>classpath:driver.properties</value>  
	            <value>classpath:id.properties</value>  
	        </array>  
	    </property>  
	</bean>  

	<!--通过以上配置，可以从driver.properties中读取对应的数据 ,initDriver使用 -->
	<bean id="driverFactory" class="com.cmall.spring.DriverFactory" init-method="initDriver">
		<property name="platformName" value="${platformName}"></property>
		<property name="apkPath" value="${apkPath}"></property>
		<property name="deviceName" value="${driverName}"></property>
		<property name="appPackage" value="${appPackage}"></property>
		<property name="appActivity" value="${appActivity}"></property>
		<property name="ip" value="${ip}"></property>
		<property name="port" value="${port}"></property>
	</bean>
	
	<!-- DriverHelper实例，测试中替代AndroidDriver使用，在其基础上添加一些日志 -->
	<bean id="driver_helper" class="com.cmall.spring.DriverHelper">
		<!-- 通过EL表达式，获取com.cmall.spring.DriverFactory中initDriver的返回值  -->
		<property name="driver" value="#{driverFactory.driver}"></property>
	</bean>
	
	<bean id="action_one" class="com.cmall.spring.ActionOne" >
		<!-- 引用DriverHelper实例 -->
		<property name="dHelper" ref="driver_helper"></property>
	</bean>

</beans>
